.home{
    background-color: #00FF88 ;
    padding: 2rem 0;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
}

h1 {
  color: black;
  text-align: center;
  font-style: italic;
  font-family: sans-serif; 
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px blanchedalmond; 
  font-size: 3rem;
  margin-top: 40px;
}

h2 {
color: black;
  text-align: center;
  font-style: italic;
  font-family: sans-serif; 
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px blanchedalmond; 
  font-size: 2rem;
}
